# Raw academic data
data/Data_Housing_Madrid.csv
data/*.csv

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Archives
*.zip
